.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PhoneInput{
  display: flex;

}
.PhoneInputCountry{
  display: flex;
flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-inline-end: 1px solid black;
  padding-inline: 8px;
}
.PhoneInputCountrySelect{
  display: flex;
cursor: pointer;
  width: 20px;
}
.PhoneInput > input:focus-within {
  border: none !important;
  outline: none !important;
}
.PhoneInputCountryIconImg{
  width: 30px;
}
.PhoneInputInput {
  font-size: 14px;
  /* border: 1px solid #344054; */
  width: 100%;
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
  padding-block: 10px;
  padding-inline: 8px;
}
/* .PhoneInputInput:focus {
  border-color: blue; 
}
.PhoneInputInput:active {
  border-color: blue; 
} */